body {
    background-color: #fff;

}

h4 {
    margin: 0px;
}

h2 {
     margin: 0px;
}


/*===================Nav Bar======================*/
.navBar {
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
}

.navBarUl {
    list-style-type: none;
    margin-bottom: 1.5em;
    padding: 0;
    padding-right: 1.5%;
    overflow: hidden;
    background-color: #f5f5f5;
    opacity: 0.96;
    text-decoration: none;
}

.logo {
    text-transform: none !important;
    margin-top: 11px; 
    margin-left: 6px;
    color: #555555; 
}

.logoColor {
    color: #ad1f1f;
}

.NavLi {
    float: left;
    font-size: 0.9em;
    font-weight: 10px;
    text-transform: uppercase;
    position: relative;
}

.navLinks {
    display: block;
    text-align: center;
    padding: 1.6em 0.7em 0.8em 0.7em;
    /*text-decoration: none;*/
}


.navLinks::after {
	content: '';
	display: block;
	height: 4px;
	width: 0%;
	background-color: #444; 
	transition: all ease-in-out 250ms;
	
}

.navLinks:hover::after {
	width: 100%;
}

.navLinks:hover:not(.active) {
    /*background-color: #fff;*/
    /*border-bottom: solid #337ab7 3.5px;*/
    text-decoration: none;
    color: #444;
}

/*======Day/Night Theme Button======*/
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    margin: 15px 10px 15px 10px;
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: #444444;
    /*display: block;*/
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 1.25px;
    left: 1.7px;
    width: 22.5px;
    height: 22.5px;
    background: #f5f5f5;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    /* background: ; */
}

input:checked + label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
}

label:active:after {
    width: 32.5px;
}

// centering
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*========================Video Grid=========================*/

.picture {
    cursor: pointer;
    height: 110px;
    width: 200px;
    border-radius: 3px;
}


table {
    width: 85%;
}

td {
    padding: 1em 1.2em 0em 1.2em;
    text-align: center;
}

.videoTitle {
    color: #444;
    padding-top: 0.5em !important;
    cursor: pointer; 
}

a {text-decoration: none;}
a:hover {text-decoration: none;}

.videoSubTitle {
    color: #444;
    padding-top: 0em;
    cursor: pointer;
    border-top: solid #444 2px;
}

@media (min-width: 1200px) {
    td {
        padding: 2.5em 1.2em 0em 1.2em;
    }

    .picture {
        height: 150px;
        width: 250px;
    }

    .videoTitle {
       font-size: 1.3em;
    }

    .videoSubTitle {
       font-size: 1.3em;
    }
}

@media (min-width: 1500px) {
    .picture {
        height: 200px;
        width: 300px;
    }
}




.videoLi {
    display: inline-block;
    text-align: center;
    margin: 4% 1%;
    box-sizing: border-box;
    padding: .7%;
}

.videoLi::after {
    content: 'Julie Flygare: Narcolepsy';
    display: block;
    color: #444;
}



.videoTable {
    text-align: center;
}


/*========================Fancy Box=========================*/
.linkOnVideo {
    height: 150px !important;
    width: 200px !important;
    z-index: 100 !important;
}